@charset "UTF-8";
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

html {
  font-size: 100.01%;
}

div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
pre, a, abbr, acronym, address, code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

blockquote, q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" "";
}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

th, td, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

a img {
  border: none;
}

body.bp {
  line-height: 1.5;
  font-family: TitilliumText25L400wt;
  color: #333333;
  font-size: 93.75%;
}
body.bp h1, body.bp h2, body.bp h3, body.bp h4, body.bp h5, body.bp h6 {
  font-weight: normal;
  color: #222222;
}
body.bp h1 img, body.bp h2 img, body.bp h3 img, body.bp h4 img, body.bp h5 img, body.bp h6 img {
  margin: 0;
}
body.bp h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.50em;
}
body.bp h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
body.bp h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1.00em;
}
body.bp h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
body.bp h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.50em;
}
body.bp h6 {
  font-size: 1em;
  font-weight: bold;
}
body.bp p {
  margin: 0 0 1.5em;
}
body.bp p img.left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
body.bp p img.right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}
body.bp a {
  text-decoration: underline;
  color: #cc232a;
}
body.bp a:visited {
  color: #990000;
}
body.bp a:focus {
  color: black;
}
body.bp a:hover {
  color: black;
}
body.bp a:active {
  color: #ff232a;
}
body.bp blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}
body.bp strong {
  font-weight: bold;
}
body.bp em {
  font-style: italic;
}
body.bp dfn {
  font-style: italic;
  font-weight: bold;
}
body.bp sup, body.bp sub {
  line-height: 0;
}
body.bp abbr, body.bp acronym {
  border-bottom: 1px dotted #666666;
}
body.bp address {
  margin: 0 0 1.5em;
  font-style: italic;
}
body.bp del {
  color: #666666;
}
body.bp pre {
  margin: 1.5em 0;
  white-space: pre;
}
body.bp pre, body.bp code, body.bp tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}
body.bp li ul, body.bp li ol {
  margin: 0;
}
body.bp ul, body.bp ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 3.333em;
}
body.bp ul {
  list-style-type: disc;
}
body.bp ol {
  list-style-type: decimal;
}
body.bp dl {
  margin: 0 0 1.5em 0;
}
body.bp dl dt {
  font-weight: bold;
}
body.bp dd {
  margin-left: 1.5em;
}
body.bp table {
  margin-bottom: 1.4em;
  width: 100%;
}
body.bp th {
  font-weight: bold;
}
body.bp thead th {
  background: #c3d9ff;
}
body.bp th, body.bp td, body.bp caption {
  padding: 4px 10px 4px 5px;
}
body.bp tr.even td {
  background: #e5ecf9;
}
body.bp tfoot {
  font-style: italic;
}
body.bp caption {
  background: white;
}
body.bp .quiet {
  color: #dddddd;
}
body.bp .loud {
  color: #666666;
}
body.bp .clear {
  clear: both;
}
body.bp .nowrap {
  white-space: nowrap;
}
body.bp .clearfix {
  overflow: hidden;
  *zoom: 1;
}
body.bp .small {
  font-size: 0.8em;
  margin-bottom: 1.875em;
  line-height: 1.875em;
}
body.bp .large {
  font-size: 1.2em;
  line-height: 2.5em;
  margin-bottom: 1.25em;
}
body.bp .first {
  margin-left: 0;
  padding-left: 0;
}
body.bp .last {
  margin-right: 0;
  padding-right: 0;
}
body.bp .top {
  margin-top: 0;
  padding-top: 0;
}
body.bp .bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}
body.bp .showgrid {
  background: url('/images/grid.png?1292025720');
}
body.bp .error {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4;
}
body.bp .error a {
  color: #8a1f11;
}
body.bp .notice {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fff6bf;
  color: #514721;
  border-color: #ffd324;
}
body.bp .notice a {
  color: #514721;
}
body.bp .success {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #e6efc2;
  color: #264409;
  border-color: #c6d880;
}
body.bp .success a {
  color: #264409;
}
body.bp .hide {
  display: none;
}
body.bp .highlight {
  background: yellow;
}
body.bp .added {
  background: #006600;
  color: white;
}
body.bp .removed {
  background: #990000;
  color: white;
}

body.bp .box {
  padding: 1.5em;
  margin-bottom: 1.5em;
  background: #e5ecf9;
}
body.bp div.border {
  padding-right: 4px;
  margin-right: 5px;
  border-right: 1px solid #eeeeee;
}
body.bp div.colborder {
  padding-right: 9px;
  margin-right: 10px;
  border-right: 1px solid #eeeeee;
}
body.bp hr {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  margin: 0 0 1.45em;
  border: none;
}
body.bp hr.space {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  margin: 0 0 1.45em;
  border: none;
  background: white;
  color: white;
  visibility: hidden;
}
body.bp form.inline {
  line-height: 3;
}
body.bp form.inline p {
  margin-bottom: 0;
}

form.bp label {
  font-weight: bold;
}
form.bp fieldset {
  padding: 1.4em;
  margin: 0 0 1.5em 0;
}
form.bp legend {
  font-weight: bold;
  font-size: 1.2em;
}
form.bp input.text, form.bp input.title, form.bp input[type=email], form.bp input[type=text], form.bp input[type=password] {
  margin: 0.5em 0;
  background-color: white;
  padding: 5px;
}
form.bp input.title {
  font-size: 1.5em;
}
form.bp input[type=checkbox], form.bp input.checkbox, form.bp input[type=radio], form.bp input.radio {
  position: relative;
  top: 0.25em;
}
form.bp textarea {
  margin: 0.5em 0;
  padding: 5px;
}
form.bp select {
  margin: 0.5em 0;
}
form.bp fieldset {
  border: 1px solid #cccccc;
}
form.bp input.text, form.bp input.title, form.bp input[type=email], form.bp input[type=text], form.bp input[type=password],
form.bp textarea, form.bp select {
  border: 1px solid #bbbbbb;
}
form.bp input.text:focus, form.bp input.title:focus, form.bp input[type=email]:focus, form.bp input[type=text]:focus, form.bp input[type=password]:focus,
form.bp textarea:focus, form.bp select:focus {
  border: 1px solid #666666;
}
form.bp input.text, form.bp input.title, form.bp input[type=email], form.bp input[type=text], form.bp input[type=password] {
  width: 300px;
}
form.bp textarea {
  width: 390px;
  height: 250px;
}

@font-face {
  font-family: "TitilliumText25L800wt";
  src: url('/fonts/../fonts/titilliumtext25l001-webfont.eot');
  src: local("☺"), url('/fonts/../fonts/titilliumtext25l001-webfont.woff') format('woff'), url('/fonts/../fonts/titilliumtext25l001-webfont.ttf') format('truetype'), url('/fonts/../fonts/titilliumtext25l001-webfont.svg#webfont7BukLBJZ') format('svg');
}

@font-face {
  font-family: "TitilliumText25L600wt";
  src: url('/fonts/../fonts/titilliumtext25l002-webfont.eot');
  src: local("☺"), url('/fonts/../fonts/titilliumtext25l002-webfont.woff') format('woff'), url('/fonts/../fonts/titilliumtext25l002-webfont.ttf') format('truetype'), url('/fonts/../fonts/titilliumtext25l002-webfont.svg#webfont7BukLBJZ') format('svg');
}

@font-face {
  font-family: "TitilliumText25L400wt";
  src: url('/fonts/../fonts/titilliumtext25l003-webfont.eot');
  src: local("☺"), url('/fonts/../fonts/titilliumtext25l003-webfont.woff') format('woff'), url('/fonts/../fonts/titilliumtext25l003-webfont.ttf') format('truetype'), url('/fonts/../fonts/titilliumtext25l003-webfont.svg#webfont7BukLBJZ') format('svg');
}

body {
  line-height: 1.5;
  font-family: TitilliumText25L400wt;
  color: #333333;
  font-size: 93.75%;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-weight: normal;
  color: #222222;
}
body h1 img, body h2 img, body h3 img, body h4 img, body h5 img, body h6 img {
  margin: 0;
}
body h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.50em;
}
body h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
body h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1.00em;
}
body h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
body h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.50em;
}
body h6 {
  font-size: 1em;
  font-weight: bold;
}
body p {
  margin: 0 0 1.5em;
}
body p img.left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
body p img.right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}
body a {
  text-decoration: underline;
  color: #cc232a;
}
body a:visited {
  color: #990000;
}
body a:focus {
  color: black;
}
body a:hover {
  color: black;
}
body a:active {
  color: #ff232a;
}
body blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}
body strong {
  font-weight: bold;
}
body em {
  font-style: italic;
}
body dfn {
  font-style: italic;
  font-weight: bold;
}
body sup, body sub {
  line-height: 0;
}
body abbr, body acronym {
  border-bottom: 1px dotted #666666;
}
body address {
  margin: 0 0 1.5em;
  font-style: italic;
}
body del {
  color: #666666;
}
body pre {
  margin: 1.5em 0;
  white-space: pre;
}
body pre, body code, body tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}
body li ul, body li ol {
  margin: 0;
}
body ul, body ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 3.333em;
}
body ul {
  list-style-type: disc;
}
body ol {
  list-style-type: decimal;
}
body dl {
  margin: 0 0 1.5em 0;
}
body dl dt {
  font-weight: bold;
}
body dd {
  margin-left: 1.5em;
}
body table {
  margin-bottom: 1.4em;
  width: 100%;
}
body th {
  font-weight: bold;
}
body thead th {
  background: #c3d9ff;
}
body th, body td, body caption {
  padding: 4px 10px 4px 5px;
}
body tr.even td {
  background: #e5ecf9;
}
body tfoot {
  font-style: italic;
}
body caption {
  background: white;
}
body .quiet {
  color: #dddddd;
}
body .loud {
  color: #666666;
}
body strong {
  font-family: TitilliumText25L800wt;
  font-weight: normal;
}
body #container {
  width: 900px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  padding: 2em;
  -moz-box-shadow: #dddddd 0 0 25px 10px;
  -webkit-box-shadow: #dddddd 0 0 25px 10px;
  -o-box-shadow: #dddddd 0 0 25px 10px;
  box-shadow: #dddddd 0 0 25px 10px;
}
body header, body footer {
  display: block;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 900px;
}
* html body header, * html body footer {
  overflow-x: hidden;
}
body aside {
  margin-top: -0.5em;
  display: block;
  display: inline;
  float: left;
  margin-right: 0;
  width: 263px;
}
* html body aside {
  overflow-x: hidden;
}
body #content {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 596.667px;
  padding-right: 2em;
  padding-bottom: 2em;
}
* html body #content {
  overflow-x: hidden;
}
body section h1, body section h2, body section h3, body section h4, body section h5 {
  font-family: TitilliumText25L600wt;
  padding-bottom: 0;
  margin-bottom: 0;
}
body section h2 {
  font-size: 150%;
}
body section p {
  margin-top: .5em;
  text-align: justify;
}

article.event div#map {
  float: right;
  margin: -1.5em 0 1em 1em;
  border: 1px solid #dddddd;
  width: 260px;
  height: 200px;
}

article.news-article p {
  margin-bottom: .2em;
}
article.news-article span.news-article {
  padding-left: .5em;
}

li.event p {
  text-align: justify;
  margin-bottom: .5em;
}

span.comments {
  padding-left: .5em;
}

ul {
  list-style: outside disc;
  margin: 0;
  padding: 0;
}

ul.events, ul.news-articles {
  list-style: none;
  padding: 0;
  padding-bottom: 2em;
  margin-top: -0.55em;
}
ul.events li, ul.news-articles li {
  margin: 0;
  padding: 0;
}

div.pagination {
  position: absolute;
  bottom: -2em;
  left: 0;
}

.pagination a, .pagination span, .pagination em {
  padding: 4px 10px;
  margin-left: 5px;
  display: block;
  border: 1px solid #cc232a !important;
  float: left;
}

header {
  margin-top: .6em;
}
header h1.title {
  display: inline;
  font-size: 350%;
  letter-spacing: -4px;
  padding: 0;
  margin: 0;
}
header h2.subtitle {
  display: inline;
  font-size: 175%;
  color: #666;
  letter-spacing: -1.5px;
  padding: 0;
  margin: 0;
  padding-left: .1em;
}

form.simple_form span.error {
  color: #cc232a;
  display: block;
  margin-left: 7.5em;
  margin-bottom: .5em;
}
form.simple_form div.field_with_errors input[type=text], form.simple_form div.field_with_errors input[type=email], form.simple_form div.field_with_errors textarea {
  border: 1px solid #cc232a;
}
form.simple_form label {
  vertical-align: top;
  display: inline-block;
  width: 7em;
}
form.simple_form input[type=text], form.simple_form input[type=email] {
  font-family: inherit;
  font-size: 100%;
  width: 30em;
  border: 1px solid #dddddd;
  padding: .3em;
  margin: .2em;
}
form.simple_form input[type=submit] {
  margin-left: 8.1em;
  border: 1px solid #cc232a;
  font-family: inherit;
  padding: 4px 10px;
  background-color: transparent;
  color: #cc232a;
}
form.simple_form input[type=submit]:hover {
  border: 1px solid #cc232a;
  color: #333333;
  cursor: pointer;
}
form.simple_form textarea {
  font-family: inherit;
  font-size: 100%;
  width: 30em;
  padding: .3em;
  margin: .2em;
  border: 1px solid #dddddd;
}

section {
  display: block;
}

section#about {
  clear: both;
}

section#body {
  position: relative;
}

article {
  display: block;
}
article header {
  margin-bottom: 1em;
}

footer {
  border-top: 1px solid #dddddd;
}
footer p {
  text-align: center;
  font-size: 80%;
  padding-top: 2em;
}

nav {
  display: block;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  height: 1.5em;
  margin-top: .6em;
  line-height: 1.5em;
  font-size: 110%;
}
nav ul {
  list-style: none;
  margin: 0 auto;
  padding-left: 210px;
}
nav li {
  float: left;
  display: inline;
  margin: 0;
}
nav li:after {
  content: "‧";
}
nav li:last-child:after {
  content: none;
}
nav a:link, nav a:visited {
  color: #666666;
  display: inline-block;
  height: 1em;
  padding: 0 .75em;
  text-decoration: none;
  border: 0;
}
nav a:hover, nav a:active, nav .active a:link, nav .active a:visited {
  color: #cc232a;
  border: 0;
}

a:link, a:visited {
  color: #cc232a;
  text-decoration: none;
  border-bottom: 1px dotted #cc232a;
}

a:hover, a:active, .active a:link, .active a:visited {
  color: #cc232a;
  border-bottom: 1px solid #cc232a;
}
