// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";

// Combine the partials into a single screen stylesheet.
@import "partials/page";
@import "partials/form";
@import "compass/css3/font-face";
@import "compass/css3/box-shadow";
@import "blueprint/colors";
@import "blueprint/typography";

//@include font-face("Titillium Regular", font-files("../fonts/TitilliumText1.woff", woff, "../fonts/TitilliumText1.ttf", truetype, "../fonts/TitilliumText1.svg", svg), "../fonts/TitilliumText1.eot");
//@include font-face("Titillium Bold", font-files("../fonts/TitilliumText250wt.woff", woff, "../fonts/TitilliumText250wt.ttf", truetype, "../fonts/TitilliumText250wt.svg", svg), "../fonts/TitilliumText250wt.eot");

body {
  @include blueprint_typography(true);

  #container {
    @include container;
    padding: 2em;
    @include box-shadow($quiet-color, 0, 0, 25px, 10px); }

  header, footer {
    display: block;
    @include column($blueprint-grid-columns); }

  aside {
    margin-top: -0.5em;
    display: block;
    $sidebar-columns: floor($blueprint-grid-columns / 3 - 3);
    @include column($sidebar-columns, true); }

  #content {
    $content-columns: ceil(2 * $blueprint-grid-columns / 3);
    @include column($content-columns); 
    padding-right: 2em; 
    padding-bottom: 2em; } 

    section {
      h1, h2, h3, h4, h5 {
        font-family: TitilliumText25L;
        font-weight: 400;
        padding-bottom: 0;
        margin-bottom: 0; }

      h2 {
        font-size: 150%;
      }

      p {
        margin-top: .5em;
        text-align: justify; } } }

article.event {
  div#map {
    float: right;
    margin: -1.5em 0 1em 1em;
    border: 1px solid $quiet-color;
    width: 260px;
    height: 200px; } }

article.news-article {
  p {
    margin-bottom: .2em; } 
  
  span.news-article {
    padding-left: .5em; } }

li.event {
  p {
    text-align: justify;
    margin-bottom: .5em; } }

span.comments {
  padding-left: .5em; }

ul {
  list-style: outside disc;
  margin: 0;
  padding: 0; }

ul.events, ul.news-articles {
  list-style: none;
  padding: 0;
  padding-bottom: 2em;
  margin-top: -0.55em;
  
  li {
    margin: 0;
    padding: 0; } }

div.pagination {
  position: absolute;
  bottom: -2em;
  left: 0;
}

.pagination a, .pagination span, .pagination em {
  padding: 4px 10px;
  margin-left: 5px; 
  display: block;
  border: 1px solid $link-color !important;
  float: left;
}

header {
  margin-top: .6em; 
  
  h1.title {
    display: inline;
    font-size: 350%;
    letter-spacing: -4px;
    padding: 0;
    margin: 0;
  }

  h2.subtitle {
    display: inline;
    font-size: 175%;
    color: #666;
    letter-spacing: -1.5px;
    padding: 0;
    margin: 0;
    padding-left: .1em;
  } }

form.simple_form {
  span.error {
    color: $link-color;
    display: block;
    margin-left: 7.5em;
    margin-bottom: .5em;
  }

  div.field_with_errors {
    input[type=text], input[type=email], textarea {
      border: 1px solid $link-color;
    }
  }
  
  label {
    vertical-align: top;
    display: inline-block;
    width: 7em;
  }

  input[type=text], input[type=email] {
    font-family: inherit;
    font-size: 100%;
    width: 30em;
    border: 1px solid $quiet-color;
    padding: .3em;
    margin: .2em;
  }
  
  input[type=submit] {
    margin-left: 7.6em;
    border: 1px solid $link-color;
    font-family: inherit;
    padding: 4px 10px;
    background-color: transparent;
    color: $link-color;
  }

  input[type=submit]:hover {
    border: 1px solid $link-color;
    color: $font-color;
    cursor: pointer;
  }

  textarea {
    font-family: inherit;
    font-size: 100%;
    width: 30em;
    padding: .3em;
    margin: .2em;
    border: 1px solid $quiet-color;
  } }

section {
  display: block }

section#about {
  clear: both;
}

section#body {
  position: relative; }

article {
  display: block;

  header {
    margin-bottom: 1em; } }

footer {
  border-top: 1px solid $quiet-color;

  p {
    text-align: center;
    font-size: 80%;
    padding-top: 2em;
  } }

nav {
  display: block;
  border-top: 1px solid $quiet-color;
  border-bottom: 1px solid $quiet-color;
  height: 1.5em;
  margin-top: .6em;
  line-height: 1.5em;
  font-size: 110%;

  ul {
    list-style: none;
    margin: 0 auto;
    padding-left: 14.5em;
  }

  li {
    float: left;
    display: inline;
    margin: 0 }

  li:after {
    content: "‧" }

  li:last-child:after {
    content: none }

  a:link, a:visited {
    font-weight: 400;
    color: $loud-color;
    display: inline-block;
    height: 1em;
    padding: 0 .75em;
    text-decoration: none;
    border: 0 }

  a:hover, a:active, .active a:link, .active a:visited {
    color: $link-color;
    border: 0 } }

a:link, a:visited {
  color: $link-color;
  text-decoration: none;
  border-bottom: 1px dotted $link-color }

a:hover, a:active, .active a:link, .active a:visited {
  color: $link-color;
  border-bottom: 1px solid $link-color }

