<section class="speakers">
  <h1>Speaking</h1>
  <ul>
    <% presentations.each do |presentation| %>
      <%= render partial: 'presentation', locals: {presentation: presentation} %>
    <% end %>
  </ul>
</section>

<section class="attendees">
  <h1>Attending</h1>
  <ul>
    <% 18.times do %>
      <li><img src="http://placehold.it/64x64"></li>
    <% end %>
  </ul>
</section>
