<section class="speakers">
  <h1>Speaking</h1>
  <% if presentations.present? %>
    <ul>
      <% presentations.each do |presentation| %>
        <%= render partial: 'presentation', locals: {presentation: presentation} %>
      <% end %>
    </ul>
  <% else %>
    Call for papers! Maybe you want to tell us about something awesome?
  <% end %>
</section>

<section class="attendees">
  <h1>Attending</h1>
  <ul>
    <% participants.each do |participant| %>
      <li><%= image_tag(avatar_url(participant, 64)) %></li>
    <% end %>
  </ul>
</section>
