%li
  %img{src: "http://placehold.it/64x64"}
  %p
    %strong
      RVM2 - What we've learnt and where are we going?
      //    = presentation.title
    %br
    Michał Papis
    //    = presentation.user_full_name
