<section class="event">
  <%= render 'details' %>
  <%= render 'map' %>
  <%= render partial: 'participants', locals: {
    presentations: @presentations,
    participants: @participants
  } %>
</section>
