%section.event
  .container
    .row
      .span6
        %h1 DRUG #33

        .datetime
          = link_to image_tag('glyphicons_045_calendar.png'), '#'
          %time{datetime: 'datetime="2012-04-16T19:00:00Z'}
            16 kwietnia 2012
            %br
            19:00

        .venue
          = link_to image_tag('glyphicons_242_google_maps.png'), '#'
          %address
            Pub Jaskinia
            %br
            Wrocław, ul. Kościuszki 34 (Pałacyk)

        %p.description
          Zapraszamy na kolejną edycję DRUGa, w pubie w samym centrum Wrocławia. Czekamy na zgłoszenia prezentacji oraz krótkich lightning talków. Po prezentacjach część nieoficjalna do ostatniego gościa.

        .buttons
          = link_to 'Speak', '#', class: 'btn btn-large'
          = link_to 'Attend', '#', class: 'btn btn-large'

      .span6
        %img{src: 'http://placehold.it/460x315'}

    .row
      .span6
        %section.speakers
          %h1
            Speaking

          %ul
            %li
              %img{src: 'http://placehold.it/47x47'}
              %p
                %strong
                  SQL: Spooky Query Language
                %br
                Michał Łomnicki
            %li
              %img{src: 'http://placehold.it/47x47'}
              %p
                %strong
                  Rails from beginners perspective
                %br
                Jan Dudulski
            %li
              %img{src: 'http://placehold.it/47x47'}
              %p
                %strong
                  DCI: Data, Context, Interaction
                %br
                Andrzej Krzywda
            %li
              %img{src: 'http://placehold.it/47x47'}
              //%strong
              %p
                %strong
                  EventMachine lessons learned (in production)
                %br
                Robert Pankowecki

      .span6
        %section.attendees
          %h1
            Attending

          %ul
            - 25.times do
              %li
                %img{src: 'http://placehold.it/47x47'}

