%h2
  = event.title
%p
  = event.description
%ul
  // chaining is bad, but it's just a sketch
  - event.presentations.not_postponed.each do |presentation|
    %li
      = presentation.user_full_name
      
      = presentation.title
%hr