%h2
  = event.title
%p
  = event.description
%ul
  // chaining is bad, but it's just a sketch
  - event.presentations.submitted.each do |presentation|
    %li
      = presentation.speakers.collect { |p| p.full_name }.join(', ')
      = presentation.title
%hr
