<section class='map'>
  <%= image_tag('https://www.evernote.com/shard/s143/sh/7f8b955a-1d62-4a7e-9e9e-fe08f344abfa/aff214bf3439b8029e64e2f18c840e32/deep/0/Screenshot%2004.01.2013%2001:11.jpg') %>
</section>
