<section class="speakers">
  <h1>Speaking</h1>
  <% if presentations.present? %>
    <ul>
      <%= render presentations %>
    </ul>
  <% else %>
    Call for papers! Maybe you want to tell us about something awesome?
  <% end %>
  
  <% if postponed_presentations.present? %>
    <h1>Postponed</h1>
    <ul>
      <%= render postponed_presentations %>
    </ul>
  <% end %>
</section>

<section class="attendees">
  <h1>Attending</h1>
  <ul>
    <% participants.each do |participant| %>
      <li><%= link_to image_tag(avatar_url(participant, 64)), participant %></li>
    <% end %>
  </ul>
</section>
