<section class="speakers">
  <% if not_postponed_presentations.present? %>
    <h1>Zgłoszone prezentacje</h1>
    <ul>
      <%= render not_postponed_presentations %>
      <%= render postponed_presentations %>
    </ul>
  <% end %>
</section>

