%section.event
  = render 'events/event_details'
  = render 'events/event_map'
  = render 'events/participants', presentations: @presentations, postponed_presentations: @postponed_presentations,participants: @participants