section.activities {
  padding-top: 1.5em;
  background-color: $color1;
  border-bottom: 1px solid $color3;

  .meetup, .people, .projects {
    margin-top: .5em;

    @include span-columns(4);
    min-height: 12em;

    @include breakpoint($smartphone-landscape) {
      h1 { 
        font-size: 120%;
      }
      min-height: 6em;
    }

    @include breakpoint($smartphone-portrait) {
      h1 {
        font-size: 130%;
      }
      min-height: 6em;
    }

    background-color: $color2;

    h1 {
      margin: .5em 0 0 .5em;
      text-transform: uppercase;
    }
  }
}
