section.activities {
  padding-top: 2em;
  background-color: #F0F0F0;
  border-bottom: 1px solid #E0E0E0;

  .dinner, .hack, .meetup, .showoff {
    border: 1px solid #EBEBEB;
    min-height: 12em;
    background-image: url('http://placehold.it/220x158');
    max-width: 220px;

    h1 {
      padding-left: .3em;
    }
  }
}
