.bottom-bar {
  background-color: #F8F8F8;
  border-top: 1px solid #E0E0E0;
  padding: .5em 0 0;

  h1 {
    font-size: 150%;
  }

  .inner {
    padding: 1em 0;

    p {
      font-size: 90%;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin: 0;
      padding: 0;
    }
  }
}
