.event {
  padding: 2em 0;

  h1 {
    margin-bottom: .5em;
  }

  .datetime {
    clear: both;

    img {
     float: left;
     vertical-align: top;
    }

    time {
      float: left;
      margin-left: 15px;
    }
  }

  .venue {
    padding-top: .5em;
    clear: both;

    img {
     float: left;
     vertical-align: top;
      margin-left: 3px;
    }

    address {
      float: left;
      margin-left: 22px;
    }
  }

  .description {
    text-align: justify;
    clear: both;
  }

  .buttons {
    text-align: center;
    margin: 1.5em auto;
  }

  .speakers {
    padding: 1em 0 0;

    h1 {
      font-size: 150%;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      img {
        float: left;
        vertical-align: top;
        margin-bottom: 5px;
      }

      p {
        float: left;
        padding-left: .7em;
      }

      li {
        clear: both;
      }
    }
  }

  .attendees {
    padding: 1em 0 0;

    h1 {
      font-size: 150%;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        display: inline;

        a {
          border-bottom: none;
        }
      }
    }
  }
}
