.event {
  @include row;

  section.details {
    @include span-columns(4);

    @include breakpoint($smartphone-landscape) {
      @include span-columns(12);
    }
  }

  .clearfix {
    @include clearfix;
  }

  section.photo, section.map {
    @include span-columns(4);

    @include breakpoint($smartphone-landscape) {
      @include span-columns(12);
    }

    @include breakpoint($smartphone-portrait) {
      @include span-columns(12);
    }
  }

  address {
    display: inline;
    font-style: normal;
  }

  section.map {
    @include omega;

    img {
      width: 100%;
    }
  }

  section.photo {
    img {
      width: 100%;
    }
  }

  h1 {
    margin-bottom: .5em;
  }

  .datetime, .venue {
    margin-bottom: .5em;

    img {
      vertical-align: top;
    }

    time {
      margin-left: 10px;
    }
  }

  .venue {
    img {
      margin-left: 4px;
    }

    address {
      margin-left: 14px;
    }
  }

  .buttons {
    a {
      @include button(#666);
      font-size: 100%;
      color: #f0f0f0;
    }

    //text-align: center;
    //margin: 1.5em auto;
  }

  section.speakers {
    @include row;

    h1 {
      font-size: 125%;
    }

    ul {
      list-style: none; 
      padding: 0;
      margin: 0;

      li {
        @include span-columns(2);
        @include nth-omega(6n);

        @include breakpoint($smartphone-landscape) {
          @include span-columns(4);
          @include nth-omega(3n);
        }

        @include breakpoint($smartphone-portrait) {
          @include span-columns(6);
          @include nth-omega(2n);
        }

        span.title {
          display: block;
          min-height: 4em;
        }

        img {
          width: 100%;
        }
      }
    }
  }

  section.attendees {
    @include row;

    h1 {
      font-size: 125%;
    }

    ul {
      list-style: none;
      padding: 0;
      //margin-bottom: 2em;

      li {
        @include span-columns(1);
        @include nth-omega(12n);
        padding-bottom: $gutter / 2;

        @include breakpoint($smartphone-landscape) {
          @include span-columns(2);
          @include nth-omega(6n);
        }

        @include breakpoint($smartphone-portrait) {
          @include span-columns(3);
          @include nth-omega(4n);
        }

        img  {
          width: 100%;
        }
      }

      a {
        border-bottom: none;
      }
    }
  }
}

.speak {
  input {
    width: 100%;
  }
  input[type="submit"] {
    @include button(#666);
  }
}
