.event {
  @include row;

  section.photo, section.details {
    @include span-columns(6);

    @include breakpoint($smartphone-landscape) {
      @include span-columns(12);
    }
  }

  section.photo {
    @include omega;

    img {
      width: 100%;
    }
  }

  h1 {
    margin-bottom: .5em;
  }

  .datetime, .venue {
    margin-bottom: .5em;

    img {
      vertical-align: top;
    }

    time {
      margin-left: 10px;
    }
  }

  .venue {
    img {
      margin-left: 4px;
    }

    address {
      display: inline;
      font-style: normal;
      margin-left: 14px;
    }
  }

  .buttons {
    a {
      @include button(#666);
      font-size: 100%;
      color: #f0f0f0;
    }

    //text-align: center;
    //margin: 1.5em auto;
  }

  .speakers {
  //  padding: 1em 0 0;

    h1 {
      font-size: 125%;
    }

    ul {
      list-style: square;
      // padding: 0;
      // margin: 0;

      li {
        padding: 0;
        margin: 0;
      }
    }
  }

  section.attendees {
    @include span-columns(12);

    h1 {
      font-size: 125%;
    }

    ul {
      list-style: none;
      padding: 0;
      margin-bottom: 2em;

      li {
        padding: 0 .25em .25em 0;
        display: inline-block;
      }

      a {
        border-bottom: none;
      }
    }
  }
}

.speak {
  input {
    width: 100%;
  }
  input[type="submit"] {
    @include button(#666);
  }
}
