.event {
  section.photo, section.details, section.speakers, section.attendees {
    @include span-columns(6);

    @include breakpoint($smartphone-landscape) {
      @include span-columns(12);
    }
  }

  section.details {
    margin-top: -1.5em;
  }

  section.photo {
    @include omega;
    min-height: 350px;
    margin-top: 1.5em;

    img {
      width: 100%;
    }
  }

  padding: 1.5em 0;

  h1 {
    margin-bottom: .5em;
  }

  .datetime {
    padding: .5em .5em .5em 1em;
    clear: both;

    img {
      padding-top: .5em;
      float: left;
    }

    time {
      float: left;
      margin-left: 15px;
    }
  }

  .venue {
    padding: .5em .5em .5em 1em;
    clear: both;

    img {
      padding-top: .5em;
      float: left;
      margin-left: 3px;
    }

    address {
      font-style: normal;
      float: left;
      margin-left: 22px;
    }
  }

  .description {
    padding-top: 1.5em;
    clear: both;
  }

  .buttons {
    a {
      @include button(#666);
      font-size: 100%;
      color: #f0f0f0;
    }

    //text-align: center;
    //margin: 1.5em auto;
  }

  .speakers {
    padding: 1em 0 0;

    h1 {
      font-size: 150%;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        &.postponed {

          img {
            opacity: 0.3;

            filter: grayscale(100%);
            -webkit-filter: grayscale(100%);
            -moz-filter: grayscale(100%);
            -ms-filter: grayscale(100%);
            -o-filter: grayscale(100%);
          }

          a { color: #ccc; }
          color: #ccc;
        }

        display: table-row;

        img {
          margin-bottom: .65em;
          display: table-cell;
        }

        p {
          vertical-align: top;
          display: table-cell;
          margin: 0;
          padding: 0 0 0 1em;
        }
      }
    }
  }

  section.attendees {
    @include omega;
    padding: 1em 0 0;

    h1 {
      font-size: 150%;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        padding: 0 .2em .2em 0;
        display: inline-block; 
      }

      a {
        border-bottom: none;
      }
    }
  }
}

.speak {
  input {
    width: 100%;
  }
  input[type="submit"] {
    @include button(#666);
  }
}
