section.main {
  padding: 0 0 2em 0;
  min-height: 50em;

  .notice, .alert {
    @include span-columns(12);
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 0.5em;
  }

  .notice {
    border: 1px solid #007d08;
    background-color: #66BC6C;
    color: black;
  }

  .alert {
    border: 1px solid #9D1B00;
    background-color: #E0746C;
    color: black;
  }
}
