.top-bar {
  height: 4em;
  background-color: #F8F8F8;
  border-bottom: 1px solid #E0E0E0;
  padding: 1em 0 0;

  h1 {
    display: inline;
    font-size: 350%;
    letter-spacing: -4px;
    padding: 0;
    margin: 0;
    color: #000;

    small {
      display: inline;
      font-size: 50%;
      color: #666;
      letter-spacing: -1.5px;
      padding: 0;
      margin: 0;
      padding-left: .1em;
    }
  }

  a {
    text-decoration: none;
  }
}

