.top-bar {
  height: 5em;
  background-color: #F8F8F8;
  border-bottom: 1px solid #E0E0E0;
  padding: .5em 0 0;

  h1 {
    display: inline;
    font-size: 350%;
    letter-spacing: -4px;
    padding: 0;
    margin: 0;
    color: #000;

    @include breakpoint($tablet-portrait) {
      font-size: 300%;
    }

    @include breakpoint($smartphone-portrait) {
      //font-size: 200%;
    }

    small {
      display: inline;
      font-size: 50%;
      color: #666;
      letter-spacing: -1.5px;
      padding: 0;
      margin: 0;
      padding-left: .1em;

      @include breakpoint($tablet-portrait) {
        font-size: 43%;
      }

      @include breakpoint($smartphone-landscape) {
        display: none;
        //font-size: 47%;
      }

      @include breakpoint($smartphone-portrait) {
        display: none;
        //font-size: 45%;
      }
    }
  }

  a {
    text-decoration: none;
  }

  ul {
    float: right;
    list-style: none;
    padding: 1.75em .5em 0 0;
    margin: 0;

    li {
      margin-left: .3em;
      display: inline;
    }
  }
}

