// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";

// Combine the partials into a single screen stylesheet.
@import "partials/page";
@import "partials/form";
@import "compass/css3/font-face";
@import "compass/css3/box-shadow";
@import "blueprint/colors";
@import "blueprint/typography";

@include font-face('TitilliumText25L800wt', font-files('../fonts/titilliumtext25l001-webfont.woff', woff, '../fonts/titilliumtext25l001-webfont.ttf', truetype, '../fonts/titilliumtext25l001-webfont.svg#webfont7BukLBJZ', svg),'../fonts/titilliumtext25l001-webfont.eot');
@include font-face('TitilliumText25L600wt', font-files('../fonts/titilliumtext25l002-webfont.woff', woff, '../fonts/titilliumtext25l002-webfont.ttf', truetype, '../fonts/titilliumtext25l002-webfont.svg#webfont7BukLBJZ', svg),'../fonts/titilliumtext25l002-webfont.eot');
@include font-face('TitilliumText25L400wt', font-files('../fonts/titilliumtext25l003-webfont.woff', woff, '../fonts/titilliumtext25l003-webfont.ttf', truetype, '../fonts/titilliumtext25l003-webfont.svg#webfont7BukLBJZ', svg),'../fonts/titilliumtext25l003-webfont.eot');
	
body {
  @include blueprint_typography(true);
  
  strong {
    font-family: TitilliumText25L800wt;
    font-weight: normal; }

  #container {
    @include container;
    padding: 2em;
    @include box-shadow($quiet-color 0 0 25px 10px); }

  header#top, footer {
    display: block;
    @include column($blueprint-grid-columns); }

  aside {
    margin-top: -0.5em;
    display: block;
    $sidebar-columns: floor($blueprint-grid-columns / 3 - 3);
    @include column($sidebar-columns, true); }

  #content {
    $content-columns: ceil(2 * $blueprint-grid-columns / 3);
    @include column($content-columns); 
    padding-right: 2em; 
    padding-bottom: 2em; } 

    section {
      h1, h2, h3, h4, h5 {
        font-family: TitilliumText25L600wt;
        //font-weight: normal;
        padding-bottom: 0;
        margin-bottom: 0; }

      h2 {
        font-size: 150%; }

      p {
        margin-top: .5em;
        text-align: justify; } } 

    #dsq-content {
      font-size: inherit;
      
      h3 {
        font-family: TitilliumText25L800wt;
        font-size: 100%;
        font-weight: normal;
        margin-bottom: .2em }

      #dsq-textarea-wrapper {
        font-family: inherit;
        font-size: 100%;
        padding: .3em;
        border-radius: 0;
        background: none;
        border: 1px solid $quiet-color;
      }


      .dsq-comment-header { 
        border-radius: 0;

        cite {
          font-family: TitilliumText25L800wt;
          font-size: 100%;
          font-weight: normal; } }

      .dsq-subscribe-email, .dsq-subscribe-rss, .dsq-comment-footer {
        font-size: 13px;

        a:link, a:visited {
          color: $link-color;
          text-decoration: none;
          border-bottom: 1px dotted $link-color }

        a:hover, a:active, .active a:link, .active a:visited {
          color: $font-color;
          border-bottom: 1px solid $link-color }

        img {
          height: 0;
          width: 0;
          visibility: hidden; } } } }

article.event {
  div#map {
    float: right;
    margin: -1.5em 0 1em 1em;
    border: 1px solid $quiet-color;
    width: 260px;
    height: 200px; }

  div.attendants {
    ul {
      list-style: none;
      padding: 0;
      margin: 1em 0;

      li {
        display: inline;
        margin: 0 5px 0 0;

        a {
          border-bottom: none;
        }
      }
    }
  }
}

article.news-article {
  p {
    margin-bottom: .2em; } 
  
  span.news-article {
    padding-left: .5em; } }

li.event {
  p {
    text-align: justify;
    margin-bottom: .5em; } }

span.comments {
  padding-left: .5em; }

ul {
  list-style: outside disc;
  margin: 0;
  padding: 0; }

ul.events, ul.news-articles {
  list-style: none;
  padding: 0;
  padding-bottom: 2em;
  margin-top: -0.55em;
  
  li {
    margin: 0;
    padding: 0; } }

div.pagination {
  position: absolute;
  bottom: -2em;
  left: 0;
}

.pagination a, .pagination span, .pagination em {
  padding: 4px 10px;
  margin-left: 5px; 
  display: block;
  border: 1px solid $link-color !important;
  float: left;
}

header {
  margin-top: .6em; 
  
  h1.title {
    display: inline;
    font-size: 350%;
    letter-spacing: -4px;
    padding: 0;
    margin: 0;
  }

  h2.subtitle {
    display: inline;
    font-size: 175%;
    color: #666;
    letter-spacing: -1.5px;
    padding: 0;
    margin: 0;
    padding-left: .1em;
  } }

form.simple_form {
  span.error {
    color: $link-color;
    display: block;
    margin-left: 7.5em;
    margin-bottom: .5em;
  }

  div.field_with_errors {
    input[type=text], input[type=email], textarea {
      border: 1px solid $link-color;
    }
  }
  
  label {
    vertical-align: top;
    display: inline-block;
    width: 7em;
  }

  input[type=text], input[type=email] {
    font-family: inherit;
    font-size: 100%;
    width: 30em;
    border: 1px solid $quiet-color;
    padding: .3em;
    margin: .2em;
  }
  
  input[type=submit] {
    margin-left: 8.1em;
    border: 1px solid $link-color;
    font-family: inherit;
    padding: 4px 10px;
    background-color: transparent;
    color: $link-color;
  }

  input[type=submit]:hover {
    border: 1px solid $link-color;
    color: $font-color;
    cursor: pointer;
  }

  textarea {
    font-family: inherit;
    font-size: 100%;
    width: 30em;
    padding: .3em;
    margin: .2em;
    border: 1px solid $quiet-color;
  } }

section {
  display: block }

section#about {
  clear: both;
}

section#body {
  position: relative; }

article {
  display: block;

  header {
    margin-bottom: 1em; } }

footer {
  border-top: 1px solid $quiet-color;

  p {
    text-align: center;
    font-size: 80%;
    padding-top: 2em;
  } }

nav {
  display: block;
  border-top: 1px solid $quiet-color;
  border-bottom: 1px solid $quiet-color;
  height: 1.5em;
  margin-top: .6em;
  line-height: 1.5em;
  font-size: 110%;

  ul {
    list-style: none;
    margin: 0 auto;
    padding-left: 270px;
  }

  li {
    float: left;
    display: inline;
    margin: 0 }

  li:before {
    content: "‧" }

  li:first-child:before {
    content: none }

  a:link, a:visited {
    color: $loud-color;
    height: 1em;
    padding: 0 .75em;
    text-decoration: none;
    border: 0 }

  a:hover, a:active, .active a:link, .active a:visited {
    color: $link-color;
    border: 0 } }

a:link, a:visited {
  color: $link-color;
  text-decoration: none;
  border-bottom: 1px dotted $link-color }

a:hover, a:active, .active a:link, .active a:visited {
  color: $link-color;
  border-bottom: 1px solid $link-color }

a:focus, a:active {
  outline: none; }

a.logo {
  border: 0; }

#twitter-feed {
  clear: both;

  a.more {
    float: right;
    position: relative;
    top: -1.85em;
  }
  .tweet_list {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin: 0 0 0.8em 0;

      .tweet_avatar {
        float: left;
        border-bottom: none;
        margin: 0.4em 0.4em 0 0;
      }
      .tweet_time {
        font-size: 0.8em;
      }
    }
  }
}

span.throbber {
  display: inline-block;
  width: 16px;
  height: 11px;
  background: url(/assets/throbber.gif);
}
