<section class="activities">
  <div class="container">
    <section class="meetup">
      <h1>Meetup</h1>
    </section>
    <section class="hack">
      <h1>Hack</h1>
    </section>
    <section class="people">
      <h1>People</h1>
    </section>
    <section class="projects">
      <h1>Projects</h1>
    </section>
  </div>
</section>
