<section class="activities">
  <div class="container">
    <%= link_to raw("<h1>Meetup</h1>"), root_url, class: 'meetup' %>
    <%= link_to raw("<h1>Hack</h1>"), root_url, class: 'hack' %>
    <%= link_to raw("<h1>People</h1>"), root_url, class: 'people' %>
    <%= link_to raw("<h1>Projects</h1>"), root_url, class: 'projects' %>
  </div>
</section>
