%p
  = "#{link_to 'Kod źródłowy', 'http://github.com/pawelpacana/drug'} tej strony dostępny na licencji MIT.".html_safe
  = "Dziękujemy wszystkim #{link_to 'kontrybutorom', 'http://github.com/pawelpacana/drug/contributors'}!".html_safe
