%p
  = "#{link_to 'Kod źródłowy', 'http://github.com/drugpl/drug-site'} tej strony dostępny na licencji MIT.".html_safe
  = "Dziękujemy wszystkim #{link_to 'kontrybutorom', 'http://github.com/drugpl/drug-site/contributors'}!".html_safe
