%p
  = "This site's #{link_to 'source code', 'http://github.com/pawelpacana/drug'} is released under MIT license. Please, contribute!".html_safe
  = "Design and hosting donated by #{link_to 'Syswise', 'http://www.syswise.eu'}.".html_safe
